<h4>Folder index</h4>
<table class="table table-hover table-inverse">
  <% folders.each do |folder| %>
  <tr>
    <td><%= link_to folder.folder_name, folder_path(folder.id) %></td>
    <td><%=  %></td>
    <td>
      <%= link_to "消去", folder_path(folder.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_folder_#{folder.id}" %>
    </td>
  </tr>
  <% end %>
</table>