// Place all the styles related to the Customers/Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete-button {
  color: rgb(238, 70, 70);
}



.topvisual {
  background-image: image-url("img2.png");
  background-size: cover;
  height: 530px;
}

.topvisual-text {
  color: rgb(250, 250, 250);
}

div.topvisual-text {
  margin: 100px 0px 0px 0px;
  font-family: 'Roboto, sans-serif';
}

p.topvisual-text {
  margin: 40px 0px 0px 0px;
  font-size: 20px;
}