/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//
// iframe {
//     width: 100%;
// }


@media screen and (max-width:425px) {
    header {
        width: 100%;
    }

    .nav-list {
        width: 100%;
    }

    .nav-list-item {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .social {
        display: none;
    }

    .main-visual-content {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .blog {
        width: 100%;
        margin: 0;
    }

    .blog-box {
        padding-left: 2%;
        padding-right: 2%;
    }

    .blog-image {
        width: 49%;
    }

    .blog-text {
        width: 49%;
        padding-top: 5px;
    }

    .sidebar {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .instagram-box {
        width: 48%;
        padding-top: 48%;
    }

    .instagram-box:nth-child(odd) {
        margin-right: 4%;
    }

    .pagination {
        margin-bottom: 50px;
    }


    //ヘッダー


    //ヘッダー


}