/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "skipprstyle";


//
// iframe {
//     width: 100%;
// }


@media screen and (max-width:425px) {
    header {
        width: 100%;
    }

    .nav-list {
        width: 100%;
    }

    .nav-list-item {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .social {
        display: none;
    }

    .main-visual-content {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .blog {
        width: 100%;
        margin: 0;
    }

    .blog-box {
        padding-left: 2%;
        padding-right: 2%;
    }

    .blog-image {
        width: 49%;
    }

    .blog-text {
        width: 49%;
        padding-top: 5px;
    }

    .sidebar {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .instagram-box {
        width: 48%;
        padding-top: 48%;
    }

    .instagram-box:nth-child(odd) {
        margin-right: 4%;
    }

    .pagination {
        margin-bottom: 50px;
    }
}


//ヘッダー

// header {}

// nav {}


// header.navbar {
//     background-color: rgb(255, 255, 255);
// }

// div.navbar-header {
//     background-color: rgb(255, 255, 255);


// }

button.navbar-toggle {
    background-color: rgba(31, 158, 158, 0.75);

}

span.icon-bar {
    background-color: rgb(255, 255, 255);
}


//ヘッダー

header {
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    left: 0;
    transition: 500ms;
    -ms-transform: translate(0px, -50px);
    -webkit-transform: translate(0px, -50px);
    -moz-transform: translate(0px, -50px);
    transform: translate(0px, -50px);
}

.navbar.navbar-fixed-top {
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.nav {
    float: right;

    text-align: center;
}

.nav li {
    float: left;
    position: relative;
}

.nav li a {
    float: left;
    line-height: 70px;
    color: #101010;
    position: relative;
    font-size: 16px;
    height: 70px;
    font-weight: 400;
    overflow: hidden;
    transition: 500ms;
    padding: 0 25px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

.nav li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: 500ms;
}

.nav li:hover:after {
    height: 100%;
    top: 0;
    background: hsla(180, 67%, 37%, 1);
}

.nav li.active:after {
    height: 100%;
    top: 0;
    background: hsla(180, 67%, 37%, 1);
}

.nav li:hover a,
.nav li.active a {
    color: hsla(180, 67%, 37%, 1)
}

.logo {
    line-height: 50px;
    font-weight: 700;
    color: #101010;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 0px;
    height: 50px;
    float: left;
}

.logo img {
    position: relative;
    top: 10px;
    height: 50px;
}



.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 0px;
    margin: 0 auto;
}

// body {
//     // min-height: auto;
//     // background:
//     //     -webkit-linear-gradient(rgb(255, 255, 255),
//     //         hsla(180, 67%, 37%, 1));
//     // background:
//     //     -moz-linear-gradient(rgb(255, 255, 255),
//     //         hsla(180, 67%, 37%, 1));
//     // background:
//     //     -o-linear-gradient(rgb(255, 255, 255),
//     //         hsla(180, 67%, 37%, 1));
//     background:
//         linear-gradient(rgb(255, 255, 255),
//             hsla(180, 67%, 37%, 1));
// }

// *,
// *:after,
// *::before {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     text-decoration: none;
//     list-style-type: none;
//     outline: none;
// }